DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=db_user_here
DATABASE_PASSWORD=db_password_here
DATABASE_NAME=databasename_db
DATABASE_SYNCHRONIZE=true               # set false only when in production with database migrations
CLIENT_URL=http://yourdomainhere.com    # CORS Origin URL must be http://localhost.com:PORT locally
PORT=PORT_NUMBER                        # main NestJS application PORT